@use 'sass:math';

.appLayout {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: auto 1fr;

  overflow: hidden;
}

.leftSidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  min-height: 100vh;
  overflow: visible;
}

.rightPane {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.topToolbar {
  flex: 0 0 var(--app-layout-header-height, 72px);
  z-index: 10;

  display: flex;
  align-items: center;
  overflow: hidden;
}

.rightBody {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}


