.sidebarRoot {
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  padding: 0;
  background-color: transparent;
  position: relative;
}

.sidebarInner {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.headerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.toggleButton {
  position: absolute;
  right: -18px;
  top: 24px;
  transform: none;
  z-index: 20;
}

.logoBox {
  font-weight: 600;
  font-size: 0.75rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.navSection {
  flex: 1;
}

.footerSection {
  margin-top: auto;
  padding-top: 24px;
}


